# Ignore everything
**

# Allow files and directories
!/.github/**
!/*.*
!/abc/abc
!/abc/libabc.a
!/ace2/ace
!/ace2/libace.a
!/openfpga/libopenfpga.a
!/openfpga/openfpga
!/vpr/libvpr.a
!/vpr/vpr
!/yosys/install/share/**
!/yosys/install/bin/yosys
!/yosys/install/bin/yosys-abc
!/yosys/install/bin/yosys-config
!/yosys/install/bin/yosys-filterlib
!/yosys/install/bin/yosys-smtbmc
!/openfpga.sh
!/openfpga_flow/**
