[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
[submodule "yosys-plugins"]
	path = yosys-plugins
	url = https://github.com/SymbiFlow/yosys-symbiflow-plugins
[submodule "vtr-verilog-to-routing"]
	path = vtr-verilog-to-routing
	url = https://github.com/verilog-to-routing/vtr-verilog-to-routing.git
    branch = openfpga
[submodule "RTL-eFPGA-redaction"]
	path = RTL-eFPGA-redaction
	url = git@github.com:Lucaz97/RTL-eFPGA-redaction.git
