set_io dat_o[0] blahblah
set_io dat_o[1] pad_fpga_io[19]
set_io dat_o[2] pad_fpga_io[20]
set_io dat_o[3] pad_fpga_io[21]
set_io dat_o[4] pad_fpga_io[22]
set_io dat_o[5] pad_fpga_io[23]
set_io dat_o[6] pad_fpga_io[24]
set_io dat_o[7] pad_fpga_io[25]
set_io ack_o pad_fpga_io[26]
set_io int_o pad_fpga_io[27]
set_io clk_i pad_fpga_io[28]
set_io rst_i pad_fpga_io[29]
set_io cyc_i pad_fpga_io[30]
set_io stb_i pad_fpga_io[31]
set_io adr_i[1] pad_fpga_io[32]
set_io adr_i[2] pad_fpga_io[33]
set_io we_i pad_fpga_io[60]
set_io dat_i[0] pad_fpga_io[35]
set_io dat_i[1] pad_fpga_io[36]
set_io dat_i[2] pad_fpga_io[37]
